#!/usr/bin/make -f

export GOPATH=$(CURDIR)/_build
export GOBIN=$(CURDIR)/_build/bin

%:
	dh $@ --buildsystem=golang --builddirectory=_build

override_dh_auto_clean:
	rm -rf $(CURDIR)/_build/ $(CURDIR)/obj-x86_64-linux-gnu

override_dh_auto_build:
	make version
	make rclone

override_dh_auto_test:
	go test

override_dh_auto_install:
	install -p -m 0755 $(CURDIR)/rclone $(CURDIR)/debian/rclone/usr/bin/
	install -p -m 0644 $(CURDIR)/debian/rclone.png $(CURDIR)/debian/rclone/usr/share/pixmaps/
	$(CURDIR)/debian/rclone/usr/bin/rclone completion bash > $(CURDIR)/debian/rclone/usr/share/bash-completion/completions/rclone
	$(CURDIR)/debian/rclone/usr/bin/rclone completion zsh > $(CURDIR)/debian/rclone/usr/share/zsh/vendor-completions/_rclone
